[submodule "AutoComplPop"]
	path = configdir/nvim/pack/plugins/opt/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop
[submodule "vim-airline"]
	path = configdir/nvim/pack/plugins/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "indentline"]
	path = configdir/nvim/pack/plugins/opt/indentline
	url = https://github.com/yggdroot/indentline
[submodule "vim-gitgutter"]
	path = configdir/nvim/pack/plugins/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "flake8-vim"]
	path = configdir/nvim/pack/plugins/opt/flake8-vim
	url = https://github.com/andviro/flake8-vim
[submodule "vim-rainbow"]
	path = configdir/nvim/pack/plugins/opt/vim-rainbow
	url = https://github.com/frazrepo/vim-rainbow
[submodule "nnn.vim"]
	path = configdir/nvim/pack/plugins/opt/nnn.vim
	url = https://github.com/mcchrish/nnn.vim
[submodule "vim-hexokinase"]
	path = configdir/nvim/pack/plugins/opt/vim-hexokinase
	url = https://github.com/rrethy/vim-hexokinase
[submodule "nerdtree"]
	path = configdir/nvim/pack/plugins/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim-fugitive"]
	path = configdir/nvim/pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nerdtree-git-plugin"]
	path = configdir/nvim/pack/plugins/opt/nerdtree-git-plugin
	url = https://github.com/xuyuanp/nerdtree-git-plugin
[submodule "vim-json"]
	path = configdir/nvim/pack/plugins/opt/vim-json
	url = https://github.com/Dreiparrent/vim-json
[submodule "colorizer"]
	path = configdir/nvim/pack/plugins/opt/colorizer
	url = https://github.com/lilydjwg/colorizer
