configdir/nvim/pack/plugins/
configdir/nvim/plugin/packer_compiled.lua
configdir/fontconfig/fonts.dir
configdir/fontconfig/fonts.scale
homedir/.dc++/
homedir/.vim/pack/plugins/
homedir/bin/thirdpartyapps/
